@charset "EUC-KR";

#jb-container {
  width: 940px;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #bcbcbc;
}
#jb-header {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #bcbcbc;
}

#jb-sidebar-left {
  width: 160px;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
  border: 1px solid #bcbcbc;
}
#jb-content {
  width: 450px;
  padding: 20px;
  margin-bottom: 20px;
  float: left;
  border: 1px solid #bcbcbc;
}
#jb-sidebar-right {
  width: 160px;
  padding: 20px;
  margin-bottom: 20px;
  float: right;
  border: 1px solid #bcbcbc;
}
#jb-footer {
  clear: both;
  padding: 20px;
  border: 1px solid #bcbcbc;
}

/* 기본 설정*/

a{text-decoration:none; color:#000000;}

a:hover{color:#ff0000;}
/* nav tag */
nav ul{padding-top:10px;}
Music_List ul{
    list-style:none;
    margin:0;
    padding:0;
}
/* 상단 여백 10px */
nav ul li { display:inline;
/* 세로나열을 가로나열로 변경 */
border-left:1px solid #999; 
/* 각 메뉴의 왼쪽에 "|" 표시(분류 표시) */
font:bold 12px Dotum;
/* 폰트 설정 - 12px의 돋움체 굵은 글씨로 표시 */
padding:0 10px;
/* 각 메뉴 간격 */
}
Music_List li{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border : 0;
    float: left;
}


nav ul li:first-child{border-left:none;} /* 메뉴 분류중 제일 왼쪽의 "|"는 삭제 */

.box {
  float: left;
  width: 200px;
  height: 100px;
  margin: 1em;
}
.after-box {
  clear: left;
}

/* 
#Music_List ul{
    list-style:none;
    margin:0;
    padding:0;
}

#Music_List li{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border : 0;
    float: left;
}

#jb-header.inner_wrap_v1:after {content:"";display:block;clear:both;}
#header_wrap.sub_v3 .inner_wrap_v3, */